li{
    display: inline-block;
    list-style: none;
    font-family: arial;
    padding: 24px 24px 0 24px;
    background-image: linear-gradient(#FFFFFF 0%, #F7F7F7 48%, #e1e1e1 90%, #d7d7d7 100%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1px 100%;
  }
.test:after {
    content: '\2807';
    font-size: 25px;
}