<div class="form-froup row">
    <label class="col-sm-2 col-form-label">File Info</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="nameFile"
        placeholder="Enter File Name">
        <select #selectExtension [(ngModel)]="typeFile" class="form-control" placeholder="Choose type to create file">    
            <option *ngFor="let item of listExtension" [ngValue]="item">
                {{item}}
            </option>
        </select>
        <input type="text" class="form-control" *ngIf="file.nameFile!=null" [(ngModel)]="newNameFile"
        placeholder="Enter new Name">
    </div>
</div>
<button (click)="addFile()" *ngIf="modalTitle == 'Add File'" class="btn btn-primary">
    Add
</button>
<button (click)="updateFile()" *ngIf="modalTitle == 'Edit File'" class="btn btn-primary">
    Update
</button>
<button (click)="renameFile()" *ngIf="modalTitle == 'Rename File'" class="btn btn-primary">
    Rename
</button>
